/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.demo-oracle-icon:before {
  content: url(images/capsule_session_logo.png) !important;
}

.demo-about-top-bg {
  padding-top: 56px;
  background: url(images/science2.jpg) no-repeat;
  background-size: cover;
  min-height: 150px;
  text-align: center;
}

.demo-circle-logo-container {
  height: 102px;
  width: 102px;
  border-radius: 50%;
  border: solid 1px;
  border-color: rgba(255, 255, 255, 0.3);
  padding: 4px;
  margin: 20px;
}

.demo-circle-logo {
  background: url(images/92px_FIFicon.svg) no-repeat center;
  background-color: rgba(0, 0, 0, 0.25);
  background-size: 55%;
  border-radius: 50%;
  height: 92px;
  width: 92px;
  margin: 5px;
}

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.oj-listitemlayout-textslots ul {
  padding-right: 0;
  padding-left: 0;
}

.demo-waterfall {
  height: calc(100vh - 0.625rem);
  min-height: 43.75rem;
  min-width: 21.875rem;
}

.demo-card-orange {
  background-color: rgb(241, 212, 138);
  border-color: rgba(63, 58, 54, 0.3);
}

demo-profile-card-layout:not(.oj-complete) {
  visibility: hidden;
}

.demo-profile-card-layout-container {
  width: 250px;
  height: 325px;
}

.demo-profile-card-layout-inner {
  padding-top: 27px;
  padding-left: 27px;
  padding-right: 27px;
}

.demo-profile-card-layout-inner-more {
  padding-top: 122px;
  text-align: center;
}

.demo-profile-card-layout-more-image {
  margin: auto;
  width: 96px;
  height: 96px;
  margin-bottom: 94px;
  content: url("./resources/plus.svg");
}

.demo-profile-card-layout-emp-image {
  margin-bottom: 16px;
}

.demo-profile-card-layout-emp-name {
  overflow: hidden;
  width: 261px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.demo-profile-card-layout-emp-title {
  width: 261px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.demo-profile-card-layout-emp-more {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.demo-profile-card-layout-emp-spacer {
  height: 4px;
  width: 261px;
}

.oj-action-card-mobile-css {
  top:0px !important;
}

/* For IE11 Support */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* For IE11 to load content urls, you must put in :after or :before */
  .demo-profile-card-layout-more-image:after {
    margin: auto;
    width: 96px;
    height: 96px;
    margin-bottom: 94px;
    content: url("./resources/plus.svg");
  }
  /* Use max height to do line clamping */
  .demo-profile-card-layout-emp-name {
    overflow: hidden;
    width: 261px;
    max-height: 3rem;
  }
  /* Use Max height to do line clamping */
  .demo-profile-card-layout-emp-title {
    width: 261px;
    overflow: hidden;
    max-height: 1.25rem;
  }
}
{"mode":"full","isActive":false}